.divIconThree {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.insertIcon {
    position: relative;
    animation: moveIcon 2s infinite ease-in-out;
}

@keyframes moveIcon {
    0% {    opacity: 0%;
            left: 75px;
            bottom: 25px;
            top: 0px;
        }

    10% {   opacity: 100%;
            left: 75px;
            bottom: 25px;
            top: 0px;
        }
    90% {   opacity: 100%;
            left: 25px;
            top: 25px;
            bottom: 0px;
        }
    100%{   opacity: 0%;
            left: 25px;
            top: 25px;
            bottom: 0px;

        }
}