.slogan {
    text-align: center;
    /* color: red; */
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}
.centerItemTitle {
    font-size: large;
}
.centerItemCaption {
    font-size: medium;
    color: #444444;
}