.canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 3px;
    overflow: hidden;
}
.canvasWrapper {
    overflow: hidden;
    border: 2px solid black;
}