/**
* Shows how you can use CSS to style your Element's container.
*/
.MyCardElement {
    height: 35px;
    padding: 5px;
    width: 275px;
    color: #32325d;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px gray;
    margin: 5px;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .MyCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .MyCardElement--invalid {
    border-color: #fa755a;
  }
  
  .MyCardElement--webkit-autofill {
    background-color: #fefde5 !important;
  }